@import "tailwindcss";



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@theme{
    --color-primary: #178472;
   
}

@layer utilities {
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .animate-slideInRight {
    animation: slideInRight 0.4s ease-in-out both;
  }

  .animate-slideOutLeft {
    animation: slideOutLeft 0.4s ease-in-out both;
  }

  .animate-slideInLeft {
    animation: slideInLeft 0.4s ease-in-out both;
  }

  .animate-slideOutRight {
    animation: slideOutRight 0.4s ease-in-out both;
  }
}
